.filesource{
    border-radius: 12px;
    background-color: rgba(2,7, 72, 13%);
    padding:20px;
    width: 60%;
    margin-left: 19%;
    margin-top:10px;
}
.fileSource-container{
    border-radius: 20px;
    background-color:white;
    padding-top: 5px;
    color:rgb(58, 58, 58);
    width: 70%;
    margin-left: 15%;
}
.fileSource-container h6{
    color: rgb(2, 7,72); 
    font-weight: bold;
}
.filesource h5{
    text-align: left;
    color: rgb(2, 7,72); 
    font-weight: bold;

}
.filesource p {
    margin: 1px 0; 
}
