.navbar {
    margin-top: -15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#f34079; 

}

.logo {
    height: 70px;
    width: 150px;
    margin-left: 2%;
}

.language {
    padding-right: 2%;
    font-weight: bold;
    font-size: larger;
    margin-top: 1%;
    cursor: pointer;
    position: relative;
}

.language-text {
    display: inline-block;
}

.language-text.hovered {
    color:#f34079; 
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border-radius: 10%;
    overflow: hidden;
    z-index: 1000;
    white-space: nowrap;
}

.language:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    cursor: pointer;
    padding: 8px 16px;
    background: none;
    border: none;
    text-align: left;
    width: 100%;
    color: inherit;
}

.dropdown-item.selected {
    color: rgb(236, 9, 198);

}

