.more{
    border: 2px solid #9ec6f5; 
    border-radius: 25px;
    background-color: white;
    font-weight: bold;
    color: rgb(2, 7,72); 
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15%;
}
button i{
    font-size: 25px;

}
.more:hover{
border: 2px solid  rgb(2, 7,72); 

}

.deleteIcon{
    color:#de2131;
    font-size: 20px;
    cursor: pointer;
   
}

.listQuestions{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    max-height: 350px; 
    overflow-y: auto;
    margin-left: 20%;
}

/* Styles pour masquer la scrollbar */
.listQuestions::-webkit-scrollbar {
    width: 0px;
  }
  
  .listQuestions {
    -ms-overflow-style: none;  
    scrollbar-width: none;
  }

  
.titleList{
    font-weight: bolder;
    color: rgb(2, 7,72); 
    font-size: 20px;
}


.quiz,
.responce {
    border: 2px solid #9ec6f5; 
    padding: 10px; 
    margin-bottom: 10px ;
    border-radius: 25px;
}
.add{
    border: 2px solid #9ec6f5; 
    margin-bottom: 10px ;
    margin-top: 10px ;
    border-radius: 25px;
    background-color: white;
    font-weight: bold;
    color: rgb(2, 7,72); 
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.add:hover{
    border: 2px solid  rgb(2, 7,72); 

}

.responce{
    margin-left: 5%;
}
.quizdiv{
    display: flex;
    justify-content: space-between;
}