
.questions h3 {
    text-align: left;
    color: #f34079;
    font-family: 'Oswald';
    font-weight: bold;
    margin-left: 5%;
    margin-top:1%;
}
.content{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    height: 250px;
    font-weight: bold;
    color: rgb(145, 131, 223); 
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    position:fixed;
    margin-left: -70%;

}

.selected {
    font-weight: bold;
    cursor: pointer;
    color: rgb(67, 51, 157); 

  }



.titleList, .titleContent{
    font-weight: bolder;
    color: rgb(2, 7,72); 
    font-size: 20px;


}
.questions-container{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.btns {
    display: flex;
    gap: 10px;
    margin-left: 2%;
    margin-top: -50px;
}
.btn{
    border-radius: 25px;
    background-image: linear-gradient(135deg, #f34079 30%, #fda270);
    color: white;
    border: none;
    padding: 5px 20px;
    font-family: 'Britannic';
    cursor: pointer;
}
.btn i{
    font-size: 15px;
}



/*score style*/

  
.score-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .score {
    width: 150px;
    height: 100px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: white; /* Ajouter une couleur de fond spécifique ou transparent si nécessaire */

  }
  
  .score-bar {
    position: absolute;
    width: 130%;
    height: 140%;
    border-radius: 50%;
    top: 0;
    background-color: transparent; /* Assurer un fond transparent */

  }
  
  .score-bar .score-circle {
    position: absolute;
    top: 0;
  }
  
  .score-value {
    text-align: center;
    color: #131313;

  }
  
  .score-name {
    color: #131313;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  }
  
  .score-number {
    font-size: 18px;
    font-weight: 500;
  }
  






