.export-btn{
  border-radius: 25px;
  background-color: rgb(236, 155, 5);
  color: white;
  border: none;
  padding: 5px 20px;
  font-family: 'Britannic';
  cursor: pointer;
}
.topic{
  color:rgb(236, 155, 5) ;
}
.custom-modal{
  width: 150%;
  margin-top:0%;
}
.details b{
  color:rgb(59, 3, 85);

}