
.services{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left:6%;
    padding-right:6%;
    background-color: rgb(228, 64, 139);
    margin-top: -17px;
    height: 50px;

}

.service{
    display: flex;
    align-items: center;
    padding: 20px 10px;
    margin-right:5px;
    color: white;
}
.service p{
    padding-top: 10px;
    font-weight: bold;
}

.serviceIcon{
    width:18%;
    height:18% ;
    margin-left: 1px;;
}