.services {
  display: flex;
  align-items: center;
  padding-left: 2%;
  padding-right: 1%;
  background: #222922;
	background: linear-gradient(#333933, #222922);  
  margin-top: -17px;
  height: 50px;
  font-size:16px;
}

.service {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  margin-right: 20px;
  color: white;
  margin-left: 3%;

}

.service p {
  padding-top: 10px;
  font-weight: bold;
}

.serviceIcon {
  width: 20%;
  height: 19%;
}
.FormIcon{
  width: 30%;
  height: 19%;
}




