.services {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 6%;
    padding-right: 2%;
    background-image: linear-gradient(135deg, #f34079 40%,  #fda270 );
    margin-top: -17px;
    height: 50px;

}

.service {
    display: flex;
    align-items: center;
    padding: 20px 10px;
    margin-right: 5px;
    color: white;
}

.service p {
    padding-top: 10px;
    font-weight: bold;
}

.serviceIcon {
    width: 18%;
    height: 18%;
    margin-left: 1px;
}

.profileIcon {
    margin-left: auto; /* Pushes the icon to the right */
    border: 2px solid white; /* White border */
    font-weight: bolder; /* Bold border */
    width: 45px; /* Adjust size as needed */
    height: 45px; /* Adjust size as needed */
    border-radius: 50%;
}
.custom-modal .modal-content {
    border: none;
    box-shadow: none;
    width: 120px;
    top: 90px;
    left:150%;
  }
  
  .custom-modal .modal-body {
    padding: 0;
  }
  
  .custom-modal .dropdown-menu {
    display: block;
    position: static;
    float: none;
    border: none;
    box-shadow: none;
    background-color: transparent;
  }
  
  .custom-modal .dropdown-item {
    cursor: pointer;
    text-decoration: none;
  }
  