.sources {
    text-align: center;
    /*margin-top: -1%;*/
    margin-top: -3%;
}

.source-container {
    display: flex;
    justify-content: center; 
    gap: 100px; 
    
}

.source {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 1% 2%;
    border-radius: 10%;
}

.source p{
    font-family: 'Britannic';
}

.sourceIcon {
    width: 100%; 
    height: 100%;
}
.sourceIcon:hover{
    cursor: pointer;
}
.sources h3{
    text-align: left;
    color:#f34079; 
    font-family: 'Oswald';
    font-weight: bold;
    padding-top: 3%;
    margin-left: 3%;

}

.selected-file {
    background-color:rgb(249, 255, 173);
}

.selected-audio {
    background-color:rgb(223, 248, 254);
}

.selected-video {
    background-color:rgb(253, 229, 229);
}

.selected-image {
    background-color: rgba(218, 113, 245, 28%);
}

.continuer{
    border-radius: 25px;
    background-image: linear-gradient(135deg, #f34079 30%,  #fda270 );
    color: white;
    border: none;
    padding: 12px;
    font-family: 'Britannic';
    margin-left: 85%;
    margin-top: -20%;
}