.steps {
    display: flex;
    justify-content: space-around;
    background-color: #fbefe9;
    border-radius: 20px;
    width: 50%;
    margin-top: 10px ;
    padding: 2px; 
    margin-left:3%;
    align-items: center;
    color: rgb(2, 7,72); 


}

.selected-step {
    color: #f34079; /* Couleur rose */
    font-weight: bold; /* Optionnel : mise en gras */

}
.steps p{
    font-family: 'Britannic';
    margin: 2px;
    cursor: pointer;
}
