
.steps {
    background-color: #fbefe9;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    width: 50%;
    /*margin-top: 20px ;*/
    margin-top: 10px ;
    padding: 2px; 
    /*margin-left: 5%;*/
    margin-left:3%;
    align-items: center;
}


.steps p {
    margin: 2px;
    font-weight: bold;
    color: rgb(2, 7,72); 
    font-family: 'Britannic';

}
.steps p:first-of-type {
    color:#f34079; 

}
