/* Dashboard.css */
.card-container {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
