
@import url('https://fonts.google.com/specimen/Oswald?preview.text=Discover%20the%20power%20of%20AI');
.navbar-divider{
    margin-top: -10px;

}
.home{
    background-color: rgba(199, 243, 245, 0.217);
  

}
.partie1{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.title{
    text-align: left;
    color: rgb(171, 206, 74);
    font-family: 'Oswald';
    font-weight: bold;
    padding-left: 2%;
}
.discription{
    color: rgb(228, 64, 139);
    font-family: 'Microsoft YaHei UI';
    font-weight: bold;
    padding-left: 2%;

}
.pagegardeimg{
    margin-top: -8%;
    width: 100%;
    height: auto;
}



.left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.signin-container {
    margin-top: -12%;
    display: flex;
    align-items: center;
}
