.homePage{
    background-color: rgba(251, 253, 253, 0.324);
    margin-top: -3%;
    padding: 1px; 
    height: 100%;
    width: 100%;
    position: fixed;
}
.welcome , .welcomeText{
  padding-left: 6%;
  font-weight: bold;
}
.welcome{
  padding-top: 1%;
  color: rgb(236, 155, 5);

}
.logout-btn{
  color: rgb(253, 166, 3);

}

.formcontent.selected,
.questionsContent.selected,
.myquizzesContent.selected {
    color: black; 
}


.content{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    height: 340px;
    font-weight: bold;
    color: rgb(146, 146, 146); 
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    position:fixed;
    margin-left: 9%;
}
.titleContent{
  text-align: center;
  color: rgb(236, 155, 5);
}


/*score style*/
.score-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: rgb(231, 199, 249);
  }
  
  .score {
    width: 150px;
    height: 100px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: white; 

  }
  
  .score-bar {
    position: absolute;
    width: 130%;
    height: 140%;
    border-radius: 50%;
    top: 0;
    background-color: transparent; 

  }
  
  .score-bar .score-circle {
    position: absolute;
    top: 0;
  }
  
  .score-value {
    text-align: center;
    color: black;


  }
  
  .score-name {
    color: black;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  }
  
  .score-number {
    font-size: 18px;
    font-weight: 500;
    color: black;

  }
